<!-- Programmers: Stephanos Khoury, Rula Yosef -->



<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Task4</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='page.css'>
  <script src='main.js'></script>
</head>
<body>
  <div class="container">
  
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contactUs">Contact</a></li>
      </ul>
    </nav>

    <header>
      <h1>Book Component By Function</h1>
    </header>
    
    <main>
      <div class="img-center"><img src="ex4.jpg" alt="Book Cover"></div>
      <p class="creator">By Marijn Haverbeke</p>
      <p class="description">Eloquent JavaScript: A modern guide to mastering JavaScript.</p>
      <p class="copyright">© 2021 Tania</p>
    </main>
  </div>
</body>
</html>
